# directories
cache
node_modules
out
*__pycache__
.mypy_cache
.vscode

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
yarn.lock
poetry.lock
.*-version*

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/
